/*Used to switch the first search input into a toggle button at smaller screen widths*/
@media (max-width: 1147px) {

    #searchNav.navbar-toggle {
        display: block;
    }
    #collapse-search.navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    #collapse-search.navbar-collapse.collapse {
        display: none!important;
    }
    #collapse-search_ul.navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	#collapse-search_ul.navbar-nav>li {
        float: none;
    }
    #collapse-search_ul.navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #collapse-search.collapse.in{
  		display:block !important;
	}
	#searchNav{
	margin-right:2em !important;
	margin-top:2em !important;
	margin-left:15px;
	}
	#searchNav1.navbar-toggle {
	position: relative;
	float: right;
	margin-right: 15px;
	padding: 8px 13px;
	margin-top: 8px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	}
	#searchNav.navbar-toggle {
	position: relative;
	float: right;
	margin-right: 15px;
	padding: 8px 13px;
	margin-top: 8px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	}

	.mainTitle{
	/*text-align: center; */
	color: #F26522;
	margin-top: 0px;
	white-space:normal;
	font-weight: 800;
}
}

/*Used to display the Layer toggle button in the title bar*/
@media (max-width: 1015px) and (min-width:768px){
	.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid #CCCCCC;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 10px;
	line-height: 1.42857143;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	}

	h3, .h3 {
	font-size: 18px !important;
	}

	h4, .h4{
	font-size:12px !important;
	font-weight:700;
	}

	.crashTypes.btn{
	font-family: 'icomoon';
	font-size: 0.8em !important;

	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid #CCCCCC;
	white-space: nowrap;
	padding: 6px 1px !important;

	line-height: 1.42857143;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	}
	.interventionBtns{
	font-size:0.9em;
	}

	.outreachBtns{
	font-size:0.9em;
	}

	.summarySwitchBtns{
	font-size:10px !important;
	}

	.crashTypeSwitchBtns{
	font-size:10px !important;
	}

	.footNote{
	font-size:9px !important;
	}

	.crashTimeSwitchBtns{
	font-size:10px !important;
	white-space:normal;
	}

	#searchNav{
		font-size:11px;
		margin-right: 2em !important;
		margin-top: 2.6em !important;
		margin-left: 15px;
	}

	.mainTitle {
/* text-align: center; */
color: #F26522;
margin-top: 0px;
white-space: normal;
font-weight: 800;
}
}

/* Used to hide the second search input(search input in the modal) at a "desktop view"*/
@media(min-width:1108px){
	#collapseOne{
	display:block !important;
	visibility: hidden !important;
	height:0px !important;
	}
}

/* Used for formatting iPad landscape"*/
@media(min-width:1016px){
	h3, .h3 {
	font-size: 20px !important;
	}

	h4, .h4{
	font-size:14px !important;
	font-weight:700;
	}

	.topLine{
	margin-top:1.3em;
	}
	.crashTypes.btn{
	font-family: 'icomoon';
	font-size: 0.9em !important;

	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid #CCCCCC;
	white-space: nowrap;
	padding: 6px 1px !important;

	line-height: 1.42857143;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	}
	.interventionBtns{
	font-size:0.98em;
	}

	#jqxslider {

    margin-left:auto;
    margin-right: auto;
}

	#jqxslider2 {
    width: 45em !important;
    margin: 0 auto;
}

@media (mid-width:776;) and (max-width:882px;){
	#jqxslider {
    width: 30em !important;
    margin-left:auto; margin-right: auto;
	}

	#jqxslider2 {
    width: 30em !important;
    margin-left:auto; margin-right: auto;
	}

}
