@import 'variables';
@import 'mixins';

//
//   INDEX:
//   General Styling

//   All - Sizes
//     ALL01 -

//   Features
//     FT01: Off Canvas Navigation
//     FT02: Mobile Map
//     FT03: Filters
//     FT04: Data Points
//     FT05: Search
//     FT06: Date Slider
//

/**********************************************
ALL01 - Global Elements
***********************************************/

#navbarDIV {
  border-radius:0;
}

.modal-title {
  position: relative;
  .map-icon {
    font-size: 16px;
    margin-right: 10px;
  }
}

@include breakpoint(SM) {

  .modal-footer {
    margin-top: 0;
  }

  #searchNav1 {
    .glyphicon-search {
      color: #20396f;
    }
  }

  .navbar-default {
    .navbar-toggle {
      .icon-bar {
        background-color: #20396f;
      }
      &:hover,
      &:focus {
        .icon-bar {
          background-color: #fff;
        }
      }
    }
  }

  .navbar {
    border-width: 0 0 1px 0;
    margin-bottom: 0;
    min-height: 55px;
  }

  .container>.navbar-header {
    margin: 0;
    padding: 0;
  }

  #searchNav1.navbar-toggle { // override of existing styles
    font-size: 1.6em;
    padding: 0;
    margin: 0 !important;
    top: 13px;
    right: 10px;
    position: absolute;
  }

  #blackBar {
    display: none;
  }

  #mainContent {
    height: 100%;
  }

  html {
    height: 100%;
  }

  body {
    height: 100%;
    margin-bottom: 0;
    overflow: hidden;
    position: relative;
  }

}

body {
  @include breakpoint(SM) {
    #sliderDiv {
    }
  }
}

@media (max-width: 370px) {
  .vzLogo {
    margin-top: 1.2em !important;
    width: 13em;
  }
}

//ipad fixes
@include breakpoint(iPad) {

  #searchNav.navbar-toggle {
    margin:35px 0 0 !important;
    padding:0;
    font-size: 13px;
  }

  .btn {
    font-size: 13px;
  }

  #sidebar {
    padding:0;
  }

  #jqxslider,  #jqxslider2 {
    > div {
      display: none;
    }
    .jqx-rc-all {
      display: block;
    }
  }

  #date3Label {
    display: none;
  }
  #sliderDiv {
    height: auto !important;

    #date2Label {
      position: absolute;
      left: 85px;
      top: 9px;
    }

    #jqxslider, #jqxslider2 {
      width: auto !important;
      margin:0 !important;
      float:left;
      clear: none;
    }
  }
}

@include breakpoint(XL) {
  #date2Label{
    display: none;
  }
  #date3Label{
    display: block;
  }
}


/**********************************************
FT01 - Off Canvas Navigation
***********************************************/
// Ideally we would do an @import 'feature';
// Responsive updates would be done with the feature including the mixins refer to _variables.scss to see the breakpoints

@import 'design/off-canvas';

/**********************************************
FT02 - Mobile Map
***********************************************/

@import 'design/mobile-map';

/**********************************************
FT03 - Filters
***********************************************/

@import 'design/filters';

/**********************************************
FT04 - Data Points
***********************************************/

@import 'design/data-points';
@import 'design/loading-animation';

/**********************************************
FT05 - Search
***********************************************/

@import 'design/search';

/**********************************************
FT06 - Date Slider
***********************************************/

@import 'design/date-slider';

/**********************************************
FT07 - Share
***********************************************/

@import 'design/share';

/**********************************************
FT08 - Legend
***********************************************/

@import 'design/legend';
